*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    color: #fff;

}
.container h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: -50px;
    margin-bottom: 50px;
}

textarea{
    width: 600px;
    height: 300px;
    color: #000000;
    padding: 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
    font-size: 15px;
}
textarea::placeholder{
    font-size: 16px;
    color: #000;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
   background: #E71D36;
   color: #fff;
   font-size: 16px;
   padding: 10px 30px;
   border-radius: 35px;
   border: none;
   outline: none;
   cursor: pointer;
}
select{
    height: 40px;
    flex: 1;
    color: #000000;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 30px;
    transition: all ease 0.2s;
}

button:active{
    scale: 0.9;
}